---
import '../styles/global.scss';
import Hero from '../components/Hero.jsx';
import Menu from '../components/Menu.jsx';
import AboutUs from '../components/AboutUs'; 
import { services } from '../data/services.js';
import { ServiceCard } from '../components/ServiceCard.jsx';
import ServicesSection from '../components/ServiceSection.jsx';
import SplitScreen from '../components/SplitScreen.jsx';
---


<html>
  <head>
    <meta charset="utf-8" />
    <title>ESDtronic | Profesionálne ESD riešenia</title>
  </head>
  <body class="global_body">
    
<div id="background">
  
  <Menu client:load />
  <Hero client:load />
  <AboutUs client:visible  id="about"/>

  <section class="services_grid_section"id="services">
    <h2>Naše služby</h2>
  <div class="bento-grid">
    {services.map((service, index) => (
      <ServiceCard 
        client:visible
        index={index}
        title={service.title}
        image={service.image_grid}
        bentoClass={service.bentoClass}
        slug={service.slug}
      />
    ))}
  </div>
</section>
  <div title="Naše služby">
  <main>
    <h2>Prehľad všetkých služieb</h2>
    <SplitScreen client:visible />
  </main>
  </div>
  </div>
  </body>
</html>